.bg_nav-footer{
    background-color: #3f546b;
}

.bg_jumbo-about{
    background-color: #55b99d;
}
.col_text{
    color: #55b99d;
}

#avatar{
    width: 200px;
}

#portfolio img{
    width: 100%;
}

.line-light{
    width: 100%;
    max-width: 100px;
    background-color: white;
    height: 3px;
    border-radius: 1rem;
}

.line-dark{
    width: 100%;
    max-width: 100px;
    background-color: black;
    height: 3px;
    border-radius: 1rem;
}

.end_footer{
    background-color: #2f3e4e;
    font-size: 0.5rem;
}

.p_special{
    padding-top: .5rem;
    padding-bottom: 8rem;
}

.border_light{
    border-color: lightgray;
}

.btn_back{
    background-color: #55b99d;
    color: white;
}



.layover_plus{
    width: 95%;
    height: 100%;
    color: white;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

#portfolio img:hover + .layover_plus{
   visibility: visible;
}